/* header section format */
header {
    background-color: white;
    border-bottom: 2px solid #cccccc;
    margin-bottom:  20px;
    width: 98%;
    position: relative;
    top: 20px;  
    left: 15px;
}

/* header class format */
.header {
    width:960px;
    margin: 0 auto;
    top: 20px;
}

/* section header text size */
.headerText{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 20px;
}

/* format for logo class */
.logo {
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    margin: 0 auto;
    font-size: 32px;
    font-weight: bold;
}

/* format for navlog class */
.navlogo {
    color: #777777;
    float: right;
    padding: 20px 0px 20px 20px;
}

/* body class format */
.body {
    width: 960px;
    background-color: white;
    border: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
    min-height: calc(100vh - 220px);
}

/* body section format */
body {
    color: #777777;
    font-family: "Arial", "Hevlvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/greySandbag.png")
}

/* body text size */
.bodyText{
    font-size: 17px;
}

/* footer section format */
footer {
    background-color: #666666;
    text-align: center;
    color: white;
    padding-top: 20px;
    border-top: 5px solid #4aaaa5;
    position: relative;
    margin-top: 20px;
   
}

/* format for h sections */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 15px;
}

/* format for p sections */
p {
    color: #777777;
    font-family: "Arial", "Hevlvetica Neue", Helvetica, sans-serif;
    padding: 0px 20px 0px 20px;
    margin: 0px 0px 15px 0px;
}

/* format to position li to be inline */ 
li {
    display: inline;
    padding-left: 15px;
}

/* link color */
a:link {
    color: #777777;
    text-decoration: none;

}

/* link hover color */
a:hover{
    color: orangered;
}

/* color moment link is clicked */
a:active{
    color:orangered;
}

/* horizontal line format */
hr {
    border: 2px solid #cccccc;
    margin-left: 15px;
    margin-right: 15px;
}

/* image format */
img {
    float: left;
    width: 100px;
    height: 100px;
    padding-right: 20px; 
    padding-bottom: 20px; 
}
